<%- include('../../partials/header') %>
<body>
  <%- include('../../partials/navbar') %>
  <div class="container">
      <hr>
    <div class="card">
      <div class="card-header">
        <h2>Novo Artigos</h2>
      </div>
      <div class="card-body">
        <form action="/categories/save" method="post">
          <input
            class="form-control"
            type="text"
            name="title"
            id="title"
            placeholder="Defina um titulo para artigo"
          />
          <label for="">Selecione Categoria</label>
          <select name="category" id="category" class="form-control">
              <% category.forEach(category => { %>
                <option value="<%= category.id %> "><%= category.title %></option> </option>
                 <%}) %> 
          </select>
          <br>
          <textarea class="form-control" name="body" id="article" cols="30" rows="10" placeholder="Escreva seu artigo aqui"></textarea>
          <br />
          <button class="btn btn-success btn-sm">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>
</body>
<%- include('../../partials/footer') %>
<script src="/tinymce/tinymce.min.js"></script>

<script>
    tinymce.init({
        language: 'pt-BR',
        selector: "#article",
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace wordCount fullscreen insertdatetime media save table paste emoticons'

        ]
    })
</script>
