<%- include('../../partials/header') %>
<body>
  <%- include('../../partials/navbar') %>
  <div class="container">
      <hr>
    <div class="card">
      <div class="card-header">
        <h2>Editar Categoria</h2>
      </div>
      <div class="card-body">
        <form action="/admin/categories/update" method="post">
          <input
            class="form-control"
            type="text"
            name="title"
            id="title"
            placeholder="Defina um titulo"
            value="<%= category.title %>"
          />
          <input type="hidden" name="id" id="id" value="<%= category.id %> ">
          <br />
          <button class="btn btn-success btn-sm">Editar</button>
        </form>
      </div>
    </div>
  </div>
</body>
<%- include('../../partials/footer') %>
